<%- include('header') %>

    <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
        <h3>Welcome <%- user %> in <%- room %>:</h3>
        <div class="row m-0 p-0">

            <div class="form-floating mb-3 col-8 m-0 pe-3 p-0">
                <div class="form-control" placeholder="" id="messages"></div>
                <label for="messages">Messages</label>
            </div>

            <div class="form-floating mb-3 col-4 m-0 p-0">
                <div class="form-control" placeholder="" id="usersList"></div>
                <label for="messages">Users in room</label>
            </div>
        </div>
        
        <div class="row m-0 p-0 mb-3">
            <div class="form-floating col-10 m-0 p-0 pe-3">
                <input type="text" class="form-control" id="newmsg" placeholder="">
                <label for="newmsg">New message</label>
            </div>
            <button class="btn btn-primary col-2" id="sendBtn">Send</button>
        </div>
        <a href="/" class="btn btn-danger" id="leaveRoomBtn">Leave room...</a>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../../assets/moment.js"></script>
    <script src="../../assets/chat.js"></script>

 <%- include('footer') %>